@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --primary-color: #5c6c79;
  --text-dark: #242424;
  --text-light: #e2e8f0;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Lora", serif;
  --nav-dark: black;
  --nav-light: #78716c;
  --secondary-color: #f9f9f9;
  --light: #64748b;
  --color: blue;
  --primary-color-dark:  #f13033;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 3rem;
  margin-bottom: 1rem;
}

.section__head{
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 3rem;
  margin-bottom: 1rem;
  color: var(--white);
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.link a {
  font-weight: 500;
  color: var(--nav-light);
  transition: 0.3s;
}

.link a:hover {
  color: var(--nav-dark);
}

.nav__logo {
  text-align: center;
  cursor: pointer;
}

.nav__logo img {
  margin: auto;
  max-width: 120px;
}

.nav__logo h4 {
  font-size: 1.5rem;
  font-family: var(--header-font);
  letter-spacing: 2px;
  color: var(--nav-dark);
}

.nav__logo p {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--nav-light);
}

.header__container {
  padding-top: 2rem;
  position: relative;
}

.header__container img {
  display: flex;
  max-width: 1000px;
  margin-left: auto;
  border-radius: 5px;
}

.header__ribbon {
  position: absolute;
  top: 50%;
  left: calc(25rem + -100%);
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.header__content {
  max-width: 450px;
  padding: 2rem 5rem;
  color: var(--white);
}

.header__content p {
  color: var(--text-light);
}

.arrow__down {
  position: absolute;
  bottom: 4rem;
  right: 0;
  height: 80px;
  width: 100px;
  display: grid;
  place-content: center;
  font-size: 1.5rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
}

.image__box {
  position: absolute;
  bottom: 4rem;
  right: min(100%, 950px);
  height: 80px;
  width: 100px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  z-index: -1;
}

.seller__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.seller__image {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.seller__image__content {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: 0.3s;
}

.badge {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 2px 15px;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--primary-color);
  background-color: #f0c8c9;
  border-radius: 1rem;
}

.seller__image .badge {
  left: unset;
  right: 1rem;
}

.seller__image__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
}

.seller__price p {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: var(--secondary-color);
}

.seller__price h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
}

.seller__image__footer .btn {
  font-size: 0.9rem;
  font-weight: 400;
}

.seller__card:hover .seller__image__content {
  opacity: 1;
  cursor: pointer;
}


.seller__price p {
  font-weight: 500;
  color: var(--text-light);
}

.seller__price h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-light);
}

.seller__container button {
  padding: 0.75rem 1.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--primary-color);
  outline: none;
  border: 2px solid var(--primary-color);
  background-color: var(--white);
  cursor: pointer;
  transition: 0.3s;
}

.seller__container button:hover {
  color: var(--white);
  background-color: var(--primary-color);
}

.benefits__container .section__header {
  max-width: 400px;
  margin-bottom: 4rem;
  margin-left: 10rem;
  position: relative;
}

.benefits__container .section__header::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translate(-10rem, 50%);
  width: 7rem;
  height: 2px;
  background-color: var(--primary-color);
}

.benefits__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.benefits__card {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.benefits__card span i {
  font-size: 2rem;
  color: var(--primary-color);
}

.benefits__content h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.benefits__content p {
  font-size: 1rem;
  line-height: 1.75rem;
  color: var(--primary-color);
}

.experience__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.experience__image img {
  max-width: 500px;
  border-radius: 5px;
}

.experience__description {
  margin-top: 2rem;
  font-size: 1rem;
  color: var(--primary-color);
}

.experience__features {
  margin: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
}

.experience__col h3 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--primary-color);
}

.experience__col p {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--primary-color);
}

.experience__content button {
  padding: 0.75rem 1.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--primary-color);
  outline: none;
  border: 2px solid var(--primary-color);
  background-color: var(--white);
  cursor: pointer;
  transition: 0.3s;
}

.experience__content button:hover {
  color: var(--white);
  background-color: var(--primary-color);
}

.process__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.process__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 50px auto;
  column-gap: 1.5rem;
  row-gap: 0.5rem;
  align-items: center;
}

.process__grid .number {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--primary-color);
}

.process__grid h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.process__grid p {
  margin-bottom: 2rem;
  color: var(--primary-color);
}

.process__grid span:not(.last-child) {
  height: 100%;
  width: 2px;
  margin: auto;
  background-color: var(--text-light);
}

.process__image {
  text-align: right;
}

.process__image img {
  max-width: 500px;
  border-radius: 5px;
}

.subscribe__container {
  background-image: url("assets/banner.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  text-align: center;
  position: relative;
}

.subscribe__description {
  color: var(--white);
}

.subscribe__container form {
  position: absolute;
  width: calc(100% - 2rem);
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  display: flex;
  align-items: center;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.subscribe__container input {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 0.9rem;
  outline: none;
  border: none;
}

.subscribe__container button {
  padding: 1rem 3rem;
  color: var(--white);
  outline: none;
  border: none;
  background-color: var(--primary-color);
  cursor: pointer;
}

footer {
  background-color: var(--primary-color);
}

.footer__container {
  padding-top: 6rem;
  display: grid;
  grid-template-columns: 350px repeat(3, 1fr);
  gap: 5rem;
}

.footer__logo {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 1.5rem;
}

.footer__col i {
  font-size: 1rem;
  margin-right: 1rem;
}

.footer__col h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
  margin-bottom: 1.5rem;
}

.footer__col a {
  display: block;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--light);
  transition: 0.3s;
}

.footer__col a:hover {
  color: var(--color);
}

.footer__socials {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  flex-wrap: wrap;
}

.footer__socials i{
  margin-left: 10px;
}

.footer__socials span a {
  padding: 5px 5px;
  margin: 0;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--nav-light);
  border-radius: 100%;
}

.footer__socials span a:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color-dark);
}

.footer__col p {
  margin-bottom: 1rem;
  color: var(--text-light);
  transition: 0.3s;
  cursor: pointer;
}

.footer__col p:hover {
  color: var(--white);
}

@media (width < 900px) {
  .benefits__grid {
    gap: 1rem;
  }

  .benefits__card {
    flex-direction: column;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 600px) {
  .nav__links {
    display: none;
  }

  .header__ribbon {
    background-color: rgba(92, 108, 121, 0.7);
  }

  .arrow__down {
    display: none;
  }

  .benefits__container .section__header {
    margin-left: 5rem;
  }

  .benefits__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .benefits__card {
    flex-direction: row;
  }

  .experience__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .process__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .process__image {
    grid-area: 1/1/2/2;
  }

  .footer__container {
    gap: 2rem;
  }
}
